/*Here goes your css code*/
:root{
    --fontBase: 'Red Hat Display', sans-serif;
    --headLine1: 900 28px/37px var(--fontBase);
    --body1: bold 1.6rem/22px var(--fontBase);
    --body2: 500 1.6rem/21px var(--fontBase);
    --body3: 500 1.2rem/26px var(--fontBase);
    --body4: 900 1.6rem/21px var(--fontBase);
    --body5: bold 1.4rem/19px var(--fontBase);
    --body6: 900 1.0rem/20px var(--fontBase);
    --pale-blue: hsl(225, 100%, 94%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue:  hsl(224, 23%, 55%) ;
    --dark-blue:hsl(223, 47%, 23%) ;
    --white:#FFFFFF;
    --pale-purple: #717FA6;
    --purple: #1F2E55;
    --gray: #F7F9FF;
    --bright-blue: #382AE1;
}
*{
    margin: 0;
}
html{
    --font-size:10px;
}
body{
    background-color: var(--pale-blue);
    font: var(--body1);
    min-block-size: 100vh;
    display: flex;
    align-items: center;
}
/*wrapper*/
.wrapper{
    border: solid   1px black;
    max-inline-size: 945px;
    padding-inline-start:495px;
    padding-inline-end:495px;
    /*padding-block-start: 100px ;*/
    /*padding-block-end: 98px;*/

}
/*order summary container*/
.order-summary-container{
    border: solid 1px red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
}
/*order summary header*/
.order-summary-header img{
    width: 100%;
    height:auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/*order summary body*/
.order-summary-body{
    background-color: var(--white);
}
.order-summary-body h1{
    font: var(--headLine1);
    text-align: center;
    color: var(--purple);
    padding-block-start: 24px;
}
.order-summary-body p{
    font: var(--body3);
    color: var(--pale-purple) ;
    text-align: center;
    margin-block-start: 17px;
    padding-inline-start: 48px;
    padding-inline-end: 48px;
}
/*order-summary-description*/
.order-summary-plan-description{
    display: flex;
    flex-direction: row;
    background-color: var(--gray);
    border-radius: 11px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 25px;
    padding-block-end: 25px;
    justify-content: space-between;
}
.plan-description-image{
    width: 48px;
    height: 48px;
}
.plan-description-image img{
    width: 100%;
}
.plan-description-info h2{
    font: var(--body4);
}
.plan-description-info p{
    font: var(--body3);
    color: var(--pale-purple);
    padding: 0;
    margin-block-start: 6px;
}
.plan-description-button{
    font: var(--body5);
    color: var(--bright-blue);
    align-self: center;
}
/*button*/
button{
    display: block;
    width: 100%;
    padding-block-start: 15px ;
    padding-block-end: 15px;
    padding-inline-start: 102px;
    padding-inline-end: 102px;
    border-radius: 11px;
    border: 0;
    font: var(--body6);
    color: var(--pale-purple);

}
.active{
    background-color: var(--bright-blue);
    color: var(--white);
    box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

/*movile*/

/*.order-summary-container{*/
/*    border: solid   1px black;*/
/*    max-inline-size: 474px;*/
/*    padding-inline-start:24px*/
/*    padding-inline-end:24px*/

/*}*/